java/target/
java/pom.xml.tag
java/pom.xml.releaseBackup
java/pom.xml.versionsBackup
java/pom.xml.next
java/release.properties
java/dependency-reduced-pom.xml
java/buildNumber.properties
java/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
java/.mvn/wrapper/maven-wrapper.jar

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/
python/test/test/
python/test/file/a.txt
python/test/file/a-kana-sjis.txt
python/test/file/a-kana-utf8.txt
python/test/file/a-kana.txt
python/test/misc/dict_saved.json
python/test/misc/dict_saved_None.json
python/test/dict/data/dict_saved.json
python/test/log.txt

vba/Util.xlsm
vba/~$Util.xlsm
js/_linter_util.bat
js/_linter_util.txt
js/_copy_utiljs.bat
python/_copy_utilpy.bat
